@import "~bootstrap/scss/bootstrap";
@import "~react-activity/dist/library.css";

.container {
  max-width: 480px;
}

.btn.btn-link.btn-inline-link {
  margin: 0;
  padding: 0;
  vertical-align: baseline;

  &.qrcode-link {
    color: $body-color;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: 0.5rem;
  }
}
